<html>
    <head>
        <title>Akhil blog</title>
    </head>
    <body>

        <div>
            <p>published: 01.01.2020, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>So,here i come with my firt post on friendship.It is the bond with the person which is based on the honesty and loyality.</p>
        </div>

        <div>
            <p>published: 01.01.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>So,here i com with my second post on games.In this busy generation there is necessary of games and sports by which a person can maintain their physique well.</p>
        </div>
    </body>
</html>